<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>Password</title>
        <style>
            .body-container{
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 80vh;
                font-size:xx-large;
            }
            p {
                font-size: xx-large;
            }
            .bolded {
                font-weight: bold;
                font-size: 8rem;
                margin-top: 0px;
            }
        </style>
    </head>
    <body>
        <div class="body-container">
            <h1>Password Generated!</h1>
            <p>The password is:</p>
            <p class="bolded"><%= password %></p>
        </div>
    </body>
</html>